__pycache__/
.pytest_cache/
.ruff_cache/
.vscode/
tmp/
dist/
**egg-info**
.idea/
build/
**/.ipynb_checkpoints
tests/data
# .DS_Store
# .huskyrc.json
# out
# log.log
# **/node_modules
# *.pyc
# *.vsix
# **/testFiles/**/.cache/**
# *.noseids
# .nyc_output
# __pycache__
# npm-debug.log
# **/.mypy_cache/**
# !yarn.lock
# coverage/
# cucumber-report.json
# **/.venv*/
# port.txt
# precommit.hook
# pythonFiles/lib/**
# pythonFiles/get-pip.py
# debug_coverage*/**
# languageServer/**
# languageServer.*/**
# bin/**
# obj/**
# .pytest_cache
# tmp/**
# .python-version
# .vs/
# test-results*.xml
# xunit-test-results.xml
# build/ci/performance/performance-results.json
# !build/
# debug*.log
# debugpy*.log
# pydevd*.log
# nodeLanguageServer/**
# nodeLanguageServer.*/**
# dist/**
# *.xlf
# package.nls.*.json
# l10n/
# data/
# .ruff_cache
# tmp/
# .vscode